.#{$UIName}-input-row {
  position: relative;
  overflow: hidden;
}

.#{$UIName}-input-row input[type=color], .#{$UIName}-input-row input[type=date], .#{$UIName}-input-row input[type=datetime-local], .#{$UIName}-input-row input[type=datetime], .#{$UIName}-input-row input[type=email], .#{$UIName}-input-row input[type=month], .#{$UIName}-input-row input[type=number], .#{$UIName}-input-row input[type=password], .#{$UIName}-input-row input[type=search], .#{$UIName}-input-row input[type=tel], .#{$UIName}-input-row input[type=text], .#{$UIName}-input-row input[type=time], .#{$UIName}-input-row input[type=url], input[type=week], .#{$UIName}-input-row select, .#{$UIName}-input-row textarea {
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
  margin-bottom: 15px;
  line-height: 21px;
  -webkit-user-select: text;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  outline: 0;
}

.#{$UIName}-input-row .#{$UIName}-input ~ .#{$UIName}-icon {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 0;
  z-index: 1;
  width: 38px;
  height: 38px;
  font-size: 20px;
  color: #999;
  text-align: center;
}

table {
  width: 100%;
}

td[class="#{$UIName}-input-title"] {
  position: relative;
  z-index: 20;
  padding-bottom: 10px;
  font-size: 20px;
}

.tmb-input-left-icon :first-child .tmb-icon {
  font-size: 20px;
  color: #999;
  bottom: 10px;
}

.tmb-input-left-icon {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tmb-input-left-icon input {
  border: 0px solid #ccc;
}

.tmb-input-row .tmb-input-left-icon {
  float: left;
  width: 20px;
  font-size: 18px;
  color: #999;
  text-align: right;
  border-style: none;
  margin-top: 10px;
}

.tmb-input-row .tmb-input-right-icon {
  float: left;
  width: 10%;
  font-size: 20px;
  color: #999;
  text-align: left;
  border-style: none;
  margin-top: 10px;
}

.tmb-input-row .tmb-input-right-input {
  float: left;
  width: 90%;
  border-style: none;
  height: 40px;
}

.tmb-input-row .tmb-input-right-input input {
  width: 100%;
  border-style: none;

}

.tmb-input-row-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.tmb-input-row-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tmb-float-left {
  float: left;
}

.tmb-float-right {
  float: right;
}

.tmb-checkbox input[type=checkbox] {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.tmb-checkbox.checked {
  background-position: -48px 0;
}

.tmb-checkbox {
  display: block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../images/ck_blue.png) no-repeat;
  border: none;
}

.tmb-radiobox input[type=radio] {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.tmb-radiobox {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../images/radio.png) no-repeat;
  border: none;
}

.tmb-radiobox.checked {
  background-position: -110px 0;
}

.tmb-radiobox {
  background-position: -88px 0;
}

.tmb-input-row textarea {
  height: auto;
  resize: none;
  text-align: left;
}

.tmb-select {
  border: 1px solid #59B3F2;
  background: #59B3F2;
  height: 40px;
  width: 80%;
  padding-top: 5px;
  margin: 0;
}

.tmb-select a {
  color: #fff;
  padding-bottom: 5px;
  padding-top: 5px;
}

.tmb-select span {
  color: #fff;
  padding-bottom: 5px;
  padding-top: 5px;
}

.tmb-select .icon-chevron-down-right {
  right: 10px;
}

.tmb-select .tmb-icon {
  float: right;
  margin-right: 10px;
}

.tmb-select-list {
  width: 80%;
  display: none;
  margin-top: 3px;
}

.tmb-select-list .tmb-select-list-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
}

.tmb-select-list .tmb-select-list-item {
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tmb-select-list .tmb-select-list-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
}

.tmb-table {
  width: 100%;
}

.tmb-table {
  width: 100%;
}

.tmb-table td, .tmb-table th {
  text-align: center;
}

.tmb-table > tbody > tr:nth-child(odd) {
  background-color: #E8ECEF;
}