.tmb-offcanvas {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1090;
  background: rgba(0, 0, 0, 0.15);
}

.tmb-offcanvas.tmb-active {
  display: block;
}

.tmb-offcanvas-page {
  position: fixed;
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out
}

.tmb-offcanvas-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1091;
  width: 230px;
  max-width: 100%;
  background: #333333;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.tmb-offcanvas-bar:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background: #262626;
}

.tmb-offcanvas.tmb-active .tmb-offcanvas-bar.tmb-offcanvas-bar-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.tmb-offcanvas-bar-flip {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.tmb-offcanvas-bar-flip:after {
  right: auto;
  left: 0;
}

.tmb-offcanvas-content {
  padding: 15px;
  color: #999;
}

.tmb-offcanvas-content a {
  color: #ccc;
}

.tmb-menu-offcanvas1 .tmb-menu-toggle {
  position: absolute;
  right: 5px;
  top: -47px;
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}

.tmb-menu-offcanvas1 .tmb-menu-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}

.tmb-menu-offcanvas1 .tmb-menu-nav > li > a {
  height: 44px;
  line-height: 44px;
  text-indent: 15px;
  padding: 0;
  position: relative;
  color: #cccccc;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.tmb-menu-offcanvas1 .tmb-menu-nav > .tmb-open > a,
.tmb-menu-offcanvas1 .tmb-menu-nav > li > a:hover,
.tmb-menu-offcanvas1 .tmb-menu-nav > li > a:focus {
  background-color: #474747;
  color: #ffffff;
  outline: none;
}

.tmb-menu-offcanvas1 .tmb-menu-nav > .tmb-active > a {
  background-color: #1a1a1a;
  color: #ffffff;
}

.tmb-menu-offcanvas1 .tmb-menu-nav > .tmb-parent > a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tmb-menu-offcanvas1 .tmb-menu-nav > .tmb-parent > a:after {
  content: "\f104";
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
}

.tmb-menu-offcanvas1 .tmb-menu-nav > .tmb-parent.tmb-open > a:after {
  content: "\f107";
}

.tmb-menu-offcanvas1 .tmb-menu-sub {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  padding: 5px 0 5px 15px;
  background-color: #1a1a1a;
  font-size: 1.4rem;
}

.tmb-menu-offcanvas1 .tmb-menu-sub a {
  color: #eeeeee;
}

.tmb-menu-offcanvas1 .tmb-menu-sub a:hover {
  color: #ffffff;
}

.tmb-menu-offcanvas1 .tmb-nav-divider {
  border-top: 1px solid #1a1a1a;
}

.tmb-menu-offcanvas2 .tmb-menu-toggle {
  position: absolute;
  right: 5px;
  top: -47px;
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}

.tmb-menu-offcanvas2 .tmb-menu-nav {
  padding: 10px 5px;
}

.tmb-menu-offcanvas2 .tmb-menu-nav > li {
  padding: 5px;
}

.tmb-menu-offcanvas2 .tmb-menu-nav > li > a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #404040;
  color: #cccccc;
  display: block;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  height: 44px;
  line-height: 44px;
  padding: 0;
  text-align: center;
}

.tmb-menu-offcanvas2 .tmb-menu-nav > li > a:hover,
.tmb-menu-offcanvas2 .tmb-menu-nav > li > a:focus {
  background-color: #262626;
  color: #ffffff;
  outline: none;
}

.tmb-menu-offcanvas2 .tmb-menu-nav > .am-active > a {
  background-color: #262626;
  color: #ffffff;
}

.tmb-offcanvas-list {
}

.tmb-offcanvas-list li {
  margin-bottom: 25px
}

.tmb-offcanvas-list li a {
  display: block;
}

.tmb-offcanvas-list .offcanvas-item-active a, .tmb-offcanvas-list .offcanvas-item-active li {
  color: #E55B4C;
}

.tmb-offcanvas-list .offlist-text {
  margin-left: 10px;
}