.tmb-tab {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.tmb-top-box {
  width: 100%;
  position: relative;
  height: 42px;
}

.tmb-nav-top {
  float: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #F5F5F5;
  box-shadow: 0 1px solid #d0b95a inset;
  border-bottom: 2px solid #D8D8D8 !important;
  text-align: center;
}

.tmb-nav-top li {
  width: 25%;
  float: left;
  font-size: 14px;
}

.tmb-nav-top li.tmb-on {
  color: #1E8DD5;
}

.tmb-nav-top li.tmb-on-bule {
  color: #fff;
  background: #1E8DD5
}

.tmb-nav-top li.tmb-on-bule-inner {
  color: #fff;
  background: #1E8DD5;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  border-radius: 3px
}

.tmb-nav-mid {
  width: 400%;
  padding-top: 2px;
  float: left;
}

.tmb-box {
  width: 25%;
  text-align: left;
  float: left;
  line-height: 90px;
  font-size: 14px;
  text-align: center;
}

.tmb-line {
  width: 25%;
  height: 2px;
  background: #1E8DD5;
  position: absolute;
  left: 0;
  top: 38px;
  display: block;
}

/*.tmb-line::before{ display:block; width:0; height:0; position:absolute; left:50%; margin-left:-6px;border:6px solid #000; border-color:transparent transparent #000 transparent;
  bottom:2px; display:block; content:'';}*/

.newlist {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.newlist li {
  height: 36px;
  line-height: 36px;
  position: relative;
  background: #f8f8f8;
  border-bottom: 1px solid #e8e8e9;
  border-top: 1px solid #fff;
}

.newlist li:nth-child(1) {
  border-top: none;
}

.newlist li a {
  float: left;
  text-align: left;
  text-indent: 7px;
}

.em_arrow {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: 5px;
  top: 10px;
  border: 5px solid #ccc;
  border-color: transparent transparent transparent #ccc;
}

.btn_href {
  display: inline-block;
  color: #000;
  font-size: 14px;
  float: left;
  margin-left: 2%;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 1px #dedede inset, 0 1px 1px #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#e4e4e4));
  width: 96%;
}

.tmb-tab-vertical {
  width: 100%;
  background: #F4F4F4;
}

.tmb-tab-vertical .tmb-tab-cell {
  float: left;
  width: 40%;
  background: #B0B0B0;
}

.tmb-tab-vertical .tmb-tab-content {
  float: left;
  width: 60%;
  padding: 0 10px;
}

.tmb-tab-vertical .tmb-icon {
  color: #AEAEAE;
}

.tmb-tab-vertical .tmb-tab-item {
  position: relative;
  overflow: hidden;
  background: #F4F4F4;
  -webkit-touch-callout: none;
}

.tmb-tab-vertical .tmb-tab-item > a:not(.tui-btn) {
  position: relative;
  display: block;
  overflow: hidden;
  color: #666;
  padding: 15px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  text-align: left;
}

.tmb-tab-vertical .tmb-tab-item .tmb-icon {
  margin-left: 10px;
}

.tmb-tab-vertical .tmb-tab-item .tmb-tab-title {
  margin-left: 7px;
}

.tmb-tab-vertical .tmb-tab-current {
  border-right: none;
  background: #ffffff;
  border-bottom: solid 1px #efefef;
}

.tmb-tab-vertical .tmb-tab-item:active {
  background-color: #f1f1f1
}

.tmb-tab-vertical .tmb-tab-item.tmb-tab-current > a {
  color: #1F8DD6
}

.tmb-tab-vertical .tmb-tab-current .tmb-icon {
  color: #1F8DD6
}

.tmb-tab-vertical .tmb-icon {
  font-size: 20px;
  vertical-align: middle;
}

.tmb-tab-vertical .tmb-tab-item.tmb-tab-current:nth-last-child(1) {
  border-bottom: none;
}

.tmb-tab-vertical .tmb-right-box {
  display: none;
}

.tmb-tab-vertical .tmb-right-box:nth-child(1) {
  display: block;
}