// UI Define
$UIName: "tmb" !default;

// FontAwesome Path
$FontAwesomePath: "../fonts" !default;

// Header Color
$headerdeflautbg: "rgba(247,247,247,.98)";
$headerbluebg: "#4894D2";
$headerblackbg: "#2F3032";
$headerdeflautfontcolor: "#000";
$headerwhitefontcolor: "#fff";

// listview  Color
$divider-color: "#999";

// Base Color
$primary: "#3AA3C1";
$primary-actived: "#2587A2";
$right-primary-border-color: "#2587A2";
$yellow: "#F2AA55";
$blue: "#85CD4F";
$blue-actived: "#46940A";
$right-blue-border-color: "#84BEF0";
$red: "#EA6A69";
$green: "#57C3AB";
$green-actived: "#08925F";
$right-green-border-color: "#7EE4BD";

// Font Size
$X-Small: "12px";
$Small: "14px";
$Normal: "16px";
$Large: "18px";
$Deflaut-size: "100%";

// Tabs
$tab-item-color: "#fff";

// Star
$starColor:#FFD119 !default;